<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href={% static "css/demoStylesheet.css" %} />
</head>
<body>
  <h1>Hello , This is from templates > first_proj > index.html</h1>
  {{insert_me}}
  <h1>This is a picture of Batman</h1>
  <img src={% static "images/Batman.jpg" %} alt="Didn't Show Buddy!">
</body>
</html>
