<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django Test</title>
  <link rel="stylesheet" href={% static "css/demoStylesheet.css" %} />
</head>
<body>
  <div>
    {% if access_record %}
      <table class="table">
        <th>Company Name</th>
        <th>Date Accessed</th>
        {% for acc in access_record %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {% endfor %}
      </table>
      {%else%}
        <h5>No Records Found, Kindly Debug Your Code</h5>
      {% endif %}
  </div>
</body>
</html>
