<!DOCTYPE html>
{% extends 'basicApp/base.html' %} {% block body_block %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Please Login</h1>
      <form action="{% url 'basicApp:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" placeholder="Enter the Username" name="username" />

        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          placeholder="Enter the Password"
        />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
{% endblock %}
