<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul clas="nav navbar-nav">
          <li><a class="navbar-brand" href="#">Brand</a></li>
          <li>
            <a class="navbar-link" href="{% url 'basic_app:other'%}">Other</a>
          </li>
          <li>
            <a class="navbar-link" href="{% url 'basic_app:index'%}">Index</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block%}
      <!-- Anything outside of this will be inherited if you extend-->
      {% endblock %}
    </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
